<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="version" content="1.1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document Upload and Capability Map Creation</title>
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li><strong>CapMap</strong></li>
      </ul>
    </nav>
    <main class="container">
      <div class="grid">
        <section>
          <hgroup>
            <h2>Upload Your Documents</h2>
            <h3>Instantly Generate a Capability Map</h3>
          </hgroup>
          <p>
            Upload your PDF documents to automatically generate a capability
            map. Our system analyzes the text and constructs a visual
            representation of the capabilities or themes within the documents.
          </p>
          <p>
            Max files: 3<br>
            Max size: 5mb
          </p>
          <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="document" name="document" accept=".pdf, .doc, .docx, .xls, .xlsx, .csv" multiple required />
            <button type="submit">Upload</button>
        </form>




          
        
        <div id="loading" style="display: none;">
          <div class="loader"></div>
          Uploading and processing...
      </div>
          <div id="downloadLink" style="display: none;">
              Files processed. <a href="/download">Download Capability Map</a>
          </div>
        
    </div>
    </main>
    <footer class="container">
      <small>
        <a href="#">Privacy Policy</a> •
        <a href="#">Terms of Service</a> •
        Version: 1.1 <!-- Add the version number here -->
      </small>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

  </body>
</html>
