<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document Upload and Capability Map Creation</title>
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li><strong>CapMap</strong></li>
      </ul>
    </nav>
    <main class="container">
      <div class="grid">
        <section>
          <hgroup>
            <h2>Upload Your Documents</h2>
            <h3>Instantly Generate a Capability Map</h3>
          </hgroup>
          <p>
            Upload your PDF documents to automatically generate a capability
            map. Our system analyzes the text and constructs a visual
            representation of the capabilities or themes within the documents.
          </p>
          <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="document" name="document" accept=".pdf" multiple required />
            <button type="submit">Upload</button>
        </form>

        
        <!-- Textareas for prompts with clickable labels -->
        <div class="form-group">
          <label for="divide_capabilities_prompt" class="toggle-label">Instructions #1:<span class="toggle-icon">▼</span></label>
          <div class="textarea-container">
              <textarea id="divide_capabilities_prompt" placeholder="Divide Capabilities Prompt" rows=10>{{ divide_capabilities_prompt }}
              </textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="check_naming_of_capabilities_prompt" class="toggle-label">Instructions #2:<span class="toggle-icon">▼</span></label>
          <div class="textarea-container">
              <textarea id="check_naming_of_capabilities_prompt" placeholder="Check Naming of Capabilities Prompt" rows=10>{{ check_naming_of_capabilities_prompt }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="aggregateSameTopicPrompt" class="toggle-label">Instructions #3:<span class="toggle-icon">▼</span></label>
          <div class="textarea-container">
              <textarea id="aggregateSameTopicPrompt" placeholder="Aggregate Same Topic Prompt" rows=10>{{ aggregateSameTopicPrompt }}</textarea>
          </div>
        </div>

          
        
          <div id="loading" style="display: none;">Uploading and processing...</div>
          <div id="downloadLink" style="display: none;">
              Files processed. <a href="/download">Download Capability Map</a>
          </div>
        
      </div>
    </main>
    <footer class="container">
      <small
        ><a href="#">Privacy Policy</a> •
        <a href="#">Terms of Service</a></small
      >
    </footer>

    <script>
      document.getElementById('uploadForm').addEventListener('submit', function(event) {
          event.preventDefault();
          var formData = new FormData(this);
              // Get the values from the textareas and append them to the formData
          var divideCapabilitiesPrompt = document.getElementById('divide_capabilities_prompt').value;
          var checkNamingOfCapabilitiesPrompt = document.getElementById('check_naming_of_capabilities_prompt').value;
          var aggregateSameTopicPrompt = document.getElementById('aggregateSameTopicPrompt').value;

          formData.append('divide_capabilities_prompt', divideCapabilitiesPrompt);
          formData.append('check_naming_of_capabilities_prompt', checkNamingOfCapabilitiesPrompt);
          formData.append('aggregate_same_topic_prompt', aggregateSameTopicPrompt);


          document.getElementById('loading').style.display = 'block';
  
          fetch('/upload', {
              method: 'POST',
              body: formData
          }).then(response => response.json())
            .then(data => {
                document.getElementById('loading').style.display = 'none';
                if(data.message === 'Files successfully uploaded') {
                    document.getElementById('downloadLink').style.display = 'block';
                } else {
                    alert('Error: ' + data.error);
                }
            })
            .catch(error => {
                document.getElementById('loading').style.display = 'none';
                alert('Error: ' + error);
            });
      });
      document.addEventListener('DOMContentLoaded', function() {
        const toggleLabels = document.querySelectorAll('.toggle-label');
        
        toggleLabels.forEach(label => {
            label.addEventListener('click', function() {
                const textareaContainer = this.nextElementSibling;
                if (textareaContainer.style.display === 'none') {
                    textareaContainer.style.display = 'block';
                } else {
                    textareaContainer.style.display = 'none';
                }
            });
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
      const toggleLabels = document.querySelectorAll('.toggle-label');
      
      toggleLabels.forEach(label => {
          label.addEventListener('click', function() {
              const textareaContainer = this.nextElementSibling;
              const icon = this.querySelector('.toggle-icon');

              if (textareaContainer.style.maxHeight) {
                  textareaContainer.style.maxHeight = null;
                  icon.classList.add('collapsed');
              } else {
                  textareaContainer.style.maxHeight = textareaContainer.scrollHeight + "px";
                  icon.classList.remove('collapsed');
              }
          });
      });
  });
  </script>

  </body>
</html>
